body{
    font-family: 'Poppins',Sans-Serif;
}
#titlelogin{
    width: 100%;
    height: 30px;
    background-color: #e4e4e4;
}
#noproduct{
    text-align: center;
    display: none;
    color: #4d6b20;
    margin-top: 10px;
    padding: 20px;
}
#nullitem{
    text-align: center;
    display: none;
    color: #4d6b20;
    font-size: 20px;
    margin-top: 50px;
    padding: 20px;
    position: relative;
}
#contenttolog a{
    width: 50%;
    float: right;
    display: block;
    font-size: 14px;
    color: #000;
    font-weight: 300;
    text-decoration: none;
    padding-top: 5px;
    border: 1px solid #e4e4e4;
}
#contenttolog a:hover{
    color: #558146;
}
#contenttolog{
    width: 50%;
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: 5%;
    text-align: right;
}
#navhead{
    width: 100%;
    height: auto;
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 10;
}
#headerfull{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0px auto;
}
#ponnilogo{
    width: 20%;
    text-align: center;
    padding-top: 10px;
}
/*.addborder{
    border: 1px solid #000;
    background-color: #d6d6d6;
}*/
#logoimg{
    width: 150px; 
    height: 80px; 
}
#ponnititle{
    width: 40%;
    margin-top: 5px;
    padding-left: 20px;
}
#ponnititle a{
    font-size: 35px;
    font-weight: 600;
    color: #4d6b20;
    text-decoration: none;
}
.imgclass{
    width: 30px;
    height: auto;
    display: flex;
    flex-direction: row;
    vertical-align: middle;
}
#menutotleft{
    display: none;
    width: 40%;
    padding-left: 20px;
}
#headicons{
    width: 40%;
    display: flex;
    align-items: center;
    padding-right: 20px;
    position: relative;
}
#searchtot{
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-top: 0px;
}
#searchbutton{
    position: relative;
    border:1px solid #ced4da;
    background: none;
    border-radius:4px;  
    width: 100%;
}
#searchInput{
    width:100%;
    height:40px;
    border:none;
    padding-left: 10px;
    background-color:#F4F6F8;
    border-right:1px solid #ced4da;
}
#searchInput :active{
    border: none;
}
#iconsearch{
    position: absolute;
    right: 0px;
    padding: 7px;
    border:1px solid #ced4da;
    background: none;
    cursor: pointer;
}
.serchlist{
	position:absolute;
    width: inherit;
	z-index: 1;
    font-size: 18px;
}
#productList{
	display:none;
	z-index:5;
	background:white;
	width:100%;
	font-size:14px;
	padding:5px;
	height:auto;
}
.searimg{
    width:60px; 
    height:auto; 
    vertical-align:middle; 
    padding:5px;
}
.proimg{
    width:30px; 
    height:auto; 
    vertical-align:middle; 
    padding:5px;
}
#productname{
    text-transform: capitalize;
}
.acting{
	list-style:none;
    text-align: justify;
    display: flex;
    padding: 10px;
    cursor: pointer;
    border: 1px solid #fff;
}
.acting:hover{
    box-shadow: 2px 5px 8px grey;
    border: 1px solid #36491e;
}
#productList div{
    text-overflow: ellipsis;
    margin-top: 5px;
}
.titlesear{
    text-transform: capitalize;
    padding-left: 10px;
}
#prodcat{
    padding-left: 10px;
}
#offpriceid{
    display: inline-block;
    color: #f41010;
}
#delval{
    display: inline-block;
}
#carttot{
    width: 6%;
    align-content: center;
    text-align: center;
    margin-left: 20px;
    margin-top: 9px;
}
#cartCount {
    position: absolute;
    bottom: 35px;
    right: 25.5%;
    background: #f0d343;
    color: black;
    padding: 0px 5px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: bold;
}
#cartblck{
    width: 27px;
    height: auto;
    cursor: pointer;
}
#cartblck:hover{
    width: 27px;
    height: auto;
}
#wishtot{
    width: 6%;
    align-content: center;
    text-align: center;
    margin-left: 10px;
    margin-top: 9px;
}
#wishblck{
    width: 27px;
    height: auto;
    cursor: pointer;
}
#wishblck:hover{
    width: 27px;
    height: auto;
}
#profiletot{
    width: 6%;
    align-content: center;
    text-align: center;
    margin-left: 10px;
    margin-top: 9px;
}
#profiletot1{
    display: none;
    width: 30%;
    margin-left: 10px;
    margin-top: 9px;
}
#smallimg{
    width: 27px;
    height: 27px;
    cursor: pointer;
    border-radius: 50%;
}
#smallimg:hover{
    width: 27px;
    height: 27px;
}
#smallimg1{
    width: 27px;
    height: 27px;
    cursor: pointer;
    border-radius: 50%;
}
#smallimg1:hover{
    width: 27px;
    height: 27px;
}
.profilechange{
	position:absolute;
    width: 30%;
	z-index: 1;
    font-size: 18px;
    right: 5%;
    top: 100%;
}
#profilelist{
	display:none;
	z-index:5;
	background:white;
	width:100%;
	font-size:14px;
	padding:5px;
	height:auto;
    list-style-type: none;
    margin-top: 14px;
}
#profilelist1{
	display:none;
	z-index:5;
	background:white;
	width:100%;
	font-size:14px;
	padding:5px;
	height:auto;
    list-style-type: none;
}
.prolist{
    padding: 10px;
    text-align: left;
    border: 1px solid #fff;
}
.prolist:hover{
    border: 1px solid #d8d8d8;
}
.prolist a{
    text-decoration: none;
    color: #000;
    font-weight: 400;
}
.prolist a:hover{
    color: #558146;
}
#menutot{
    width: 6%;
    align-content: center;
    text-align: center;
    margin-left: 10px;
    margin-top: 9px;
}
#menublck{
    width: 35px;
    height: auto;
    cursor: pointer;
}
#menublck:hover{
    width: 35px;
    height: auto;
}
.blackscreen{
	display:none;
    position: fixed;
    z-index: 2;
    left: 0%;
    top: 5;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.7); 
}
#firimage{
    width: 100%;
    height: auto;
    position: relative;
    background-color: #fff9e3;
    overflow: hidden;
}
.displayimg{
    width: 100%;
    height: auto;
}
.displayimg2{
    display: none;
    width: 100%;
    height: 220px;
}
.twoimgcolor{
    opacity: 70%;
}
.threeimgcolor{
    filter: saturate(3);
}
.fourimgcolor{
    filter: grayscale(50%);
}
.displayimg3{
    display: none;
    width: 100%;
    height: auto;
}
.inncontent{
    width: 100%;
    height: auto; 
    transform: translate(0,-10px);
    background-color: #f3f3f3;
}
.simpleid{
    width: 58%;
    display: flex;
    flex-direction: row;
    margin: 0px auto;
    justify-content: center;
}
.formrgin{
    margin-left: 30px !important;
}
.imgdiv{
    width: 50%;
    text-align: center;
}
.imgsimple{
    width: auto;
    height: 320px;
    max-width: 100%;
}
.textareacon{
    width: 50%;
   margin: auto;
}
.textcls{
    font-size: 18px;
    font-weight: 600;
    display: block;
    color: #000000;
    margin-top: 10px;
}
.textcls2{
    font-size: 20px;
    font-weight: 600;
    display: block;
    color: #6cdaf8;
    margin-top: 10px;
}
.para1{
    font-size: 14px;
    margin-top: 10px;
    line-height: .3in;
    overflow: hidden;
    text-align: justify;
    color: #817e7e;
}
.giftbtn{
    color: #fff;
    background-color: #3eb6de;
    border-radius: 10px;
    width: 130px;
    height: 40px;
    border: none;
    font-size: 18px;
    font-family: 'poppins';
    padding: 8px;
    margin-top: 50px;
}
#imgstoryleft{
    width: 100%;
}
#imgstoryright{
    width: 100%;
    height: auto;
}
#searchsort{
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 16;
    background: rgba(0,0,0,0.7);
    overflow-x: hidden;
}
#contentsear{
    background: #fff;
    width: 0;
    height: 100%;
    position: fixed;
    z-index: 20;
    top: 0;
    right: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
}
.closeid{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 36px;
    margin: 20px;
}
.tit{
    display: inline-block;
    width: 50%;
    margin: 20px;
    font-size: 20px;
}
.titleforsear{
    border-bottom: 1px solid #e2e0e0;
}
#seartype{
    width: 90%;
    height: auto;
    margin: 10px auto;
}
#searchInput2{
    width:100%;
    height:40px;
    border: 1px solid #e2e0e0;
    border-radius: 10px;
    padding-left: 10px;
    background-color:#F4F6F8;
}
#searchInput2 :active{
    border: none;
}
#inspirespan{
    display: block;
    width: 100%;
    font-size: 20px;
    padding: 10px;
    margin-top: 20px;
}
#serchlist2{
	position:absolute;
    width: 100%;
	z-index: 16;
    border-top: 1px solid #e2e0e0;
    padding-top: 10px;
    margin-top: 10px;
}
#productList2{
	z-index:16;
	background:white;
	width:100%;
	font-size:14px;
	padding:5px;
	height:auto;
}
#productList2 li{
	list-style:none;
    text-align: justify;
    color: #000;
}
#productList2 span{
    text-overflow: ellipsis;
    width: auto;
    /*margin-left: 10px;*/
}
#totalstart{
    width: 100%;
    height: auto;
    margin-top: 50px;
}
.itemone{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    cursor: pointer;
}
.photopic{
    width: 15%;
    height: auto;
    margin-left: 10px;
    vertical-align: middle;
}
.searchimage{
    width: 90px;
    height: 85px;
    margin-bottom: 10px;
    vertical-align: middle;
}
.contentforpic{
    width: 60%;
    height: auto;
    vertical-align: middle;
}
.contentforpic span{
    font-size: 15px;
    font-weight: 200;
    color: #000;
    display: block;
}
del{
    color: #878787;
    font-size: 18px;
    display: inline-block;
}
.contentforpic span:nth-of-type(2){
    color: #f41010;
}
#menusort{
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 16;
    background: rgba(0,0,0,0.7);
    overflow-x: hidden;
}
#menusear{
    background: #fff;
    width: 0;
    height: 100%;
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
}
.menureg{
    display: flex;
    width: 100%;
    border: 1px solid #e2e0e0;
    cursor: pointer;
}
.menureg:hover{
    border: 1px solid #000;
}
.menureg:nth-of-type(6) span:first-of-type{
    width: 80%;
}
.menureg a{
    display: flex;
    text-decoration: none;
    color: #000;
}
#shopnowid{
    cursor: pointer;
}
#lastmenureg{
    display: grid;
}
#lastmenureg span{
    margin: 5px;
    margin-left: 14px;
}
#userimg{
    width: 20px;
    height: 20px;
    margin: 20px;
}
#logoutimg{
    width: 20px;
    height: 20px;
    margin: 20px;
}
#Items{
    width: 20px;
    height: 20px;
    margin: 20px;
}
#shipbag{
    width: 20px;
    height: 20px;
    margin: 20px;
}
#plussym{
    font-size: 18px;
    margin: 15px;
}
#minussym{
    display: none;
    font-size: 18px;
    margin: 15px;
}
.menureg span{
    margin: 20px;
    font-size: 14px;
}
.contentmenuslide{
    width: 100%;
    border-bottom: 1px solid #e2e0e0;
    background-color: #e2e0e0;
}
#shopslide{
    width: 98%;
    height: auto;
    display: none;
    flex-wrap: wrap;
    padding: 10px;
    align-content: center;
    text-align: center;
}
#shopslide li{
    width: 33.333%;
    list-style-type: none;
    display: block;
    border: 1px solid #e2e0e0;
}
#shopslide li:hover{
    border: 1px solid #a7a7a7;
}
#shopslide li a{
    text-decoration: none;
    color: #000;
}
.menuimg{
    width: 70px;
    height: 70px;
}
#shopslide li span{
    font-size: 12px;
    text-wrap: nowrap;
    overflow: hidden;
    display: block;
}
.wholecategories2{
    padding: 30px 0px;
    background-color: #fff9e3;
}
.wholecategories2 .active,.btn:hover {
    cursor: pointer;
    color: #fff;
  /*  background-color: #2b4522;
    border: 1px solid #2b4522;*/
}

/* CANCEL PAGE */

#wholecancelation, #wholetc{
    width: 60%;
    margin: 30px auto;
    margin-bottom: 0px;
    font-size: 16px;
    line-height: 26px;
    position: relative;
}
#wholecontact{
    width: 40%;
    margin: 30px auto;
    margin-bottom: 0px;
    font-size: 16px;
    line-height: 0.5in;
    padding: 20px;
    position: relative;
}
#wholecontact a{
    text-decoration: none;
    color: #94d47f;
}
.table-res P{
    margin-left: 40px;
}
.rte h2, .rte h3{
    color: #558146;
    text-align: center;
    margin: 30px;
}
.rte p{
    margin: 30px;
    text-align: justify;
}
.rte p:last-of-type{
    margin-bottom: 0px;
}
.rte ul{
    width: 80%;
    margin: 10px auto;
}
.policy-title h1{
    text-align: center;
    color: #558146;
}

/* SERVICE PAGE */

#wholeservice{
    width: 100%;
    height: 50vh; 
    background-color: #f3f3f3;
    position: relative;
}
#contentforservice{
    width: 25%;
    height: 100%;
    margin: auto;
    display: block;
}
#oopscontent{
    font-size: 100px;
    font-weight: 900;
    color: #4d6b20;
    margin: auto;
    padding-top: 50px;
    text-align: center;
}
.leftfirst{
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: #4d6b20;
    padding: 10px;
}
.leftsecond{
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: #4d6b20;
    padding: 8px;
}

/*Wishlist Page*/

.cate-heading {
    margin-bottom: 20px;
}
#wisheading{
    width: 100%;
    height: auto;
    padding: 25px;
    padding-bottom: 0px;
    color: #6d9928;
    font-size: 25px;
    text-align: center;
    font-weight: 600;
}
#svgimage{
    width: 10%;
    margin: 0px auto;
}
.centeralignfor{
    text-align: center;
}
/* RECENT VIEW */
.cate-recentphotos{
    display: none;
}
.cate-recentphotos .product-list2 .owl-prev span {
    font-size: 60px !important;
    color: #9a9a9a;
    font-weight: 500;
}

.cate-recentphotos .product-list2 .owl-next span {
    font-size: 60px !important;
    color: #9a9a9a;
    font-weight: 500;
}

.product-list2 .owl-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
}
.product-list2 .owl-item img {
    max-width: 100%;
    height: auto;
}
.product-list2 .owl-item p {
    margin: 0;
}

/* PSWD PAGE */
#toggleBtn {
    position: absolute;
    right:28%; /* Adjust this value based on the desired positioning */
    top: 46%;
    transform: translateY(-69%);
}
#reg-comm3{
    display: none;
}
#reg-comm a{
    text-decoration: none;
    color: #9a9a9a !important;
}
#reg-comm3 a span{
    color: red !important;
}
.wholepswdpage{
    font-family: 'Poppins', sans-serif;	
   position: relative;
   }
.wholepswdpage #login-head{       
    background-color:#6d9928;
    padding:35px;
    color:#fff;
    font-size:25px;
    text-align:center;      
}
.pswd-innerdiv .passhead{
    font-size: 20px;
    font-weight: 600;
}
.pswd-innerdiv{
    width:500px;
    height:500px;
    margin: 100px auto;
    color:#707070;
    position: relative;
}
.pswd-innerdiv input{
    padding:15px;
    border:1px solid #ddd;
    color:#707070;
    width:400px;
    margin-left:auto;
    margin-right:auto;
    margin-top:20px;
    margin-bottom: 20px;
}
.pswd-innerdiv p{
    color:#707070;
    width:400px;
    line-height: 25px;
    margin-top:20px;
}
.pswd-innerdiv a:link {
    color:#707070;
    background-color: transparent;
    text-decoration: none;
}
.pswd-innerdiv a:visited {
    color:#707070;
    background-color: transparent;
    text-decoration: none;
}
.pswd-innerdiv a:hover {
    color: red;    
}
.pswd-innerdiv button{
    width:400px;
    background-color:#36491e;
    border:none;
    color:#fff;
    margin-top:30px;
    padding:8px 20px;
    font-size:17px;
    border-radius:10px;
}
.pswd-innerdiv button:hover{
    cursor: pointer;
    background-color: #3e8e41;
}

/* LOADING CONTENT */

#loadinggif3{
    display:block;
    max-width:50px;
    margin-left:auto;
    margin-right:auto;
}
#loadinggif3 span{
  font-size:20px;
  color:#81b032;
}

/* Media Query */
@media only screen and (max-width:1500px){
    .simpleid{
        width: 73%;
    }
}
@media only screen and (max-width:1280px){
    #cartCount {
        bottom: 35px;
        right: 27%;
    }
}
@media only screen and (max-width:1024px){
    #cartCount {
        bottom: 35px;
        right: 28%;
    }
    .inncontent {

   padding-bottom: 30px;
    }
    #svgimage{
        width: 20%;
    }
}
@media only screen and (max-width:990px){
    #ponnititle{
       display: none;
    }
    #menutotleft{
        display: block;
    }
    .displayimg{
        display: none;
    }
    .displayimg2{
        display: block;
    }
    #searchtot{
        width: 20%;
        margin-top: 10px;
        margin-left: auto;
    }
    #searchbutton {
        border: none;
    }
    #searchInput{
        display: none;
    }
    #iconsearch{
        border: none;
        padding: 0;
        position: static;
        margin-bottom: 0px;
        margin-left: 30px;
    }
    #carttot{
        width: 15%;
        margin-left: 0px;
    }
    #cartCount {
        bottom: 30px;
        right: 30%;
    }
    #cartblck {
        margin-left: 5px;
    }
    #smallimg {
        margin-left: 5px;
    }
    #wishtot{
        width: 15%;
        margin-left: 0px;
    }
    #wishblck {
        margin-left: 5px;
    }
    #menutot{
        display: none;
    }
    .photopic{
        width: 30%;
        margin: auto;
        text-align: center;
    }
    #wholecancelation, #wholetc {
        width: 75%;
    }
    .profilechange {
        width: 65%;
    }
    .simpleid {
        display: block;
    }
    .textareacon {
        width: 100%;
        padding-top: 0px;
        margin-left: 0px;
    }
    .imgdiv{
        width: 100%;
    }
    .imgsimple{
        width: 90%;
        height: auto;
        text-align: justify;
    }
    .simpleid:nth-of-type(3){
        display: flex;
        flex-wrap: wrap-reverse;
    }
    .formrgin {
        margin-left: 0px !important;
    }
}
@media only screen and (max-width:950px){
    .simpleid{
        width: 88%;
    }
}
@media only screen and (max-width:880px){
    .tit {
        width: 70%;
        font-size: 16px;
    }
}
@media only screen and (max-width:750px){
    #iconsearch{
        margin-left: 20px;
    }
    #contenttolog a{
        width: 80%;
    }
    .profilechange {
        width: 90%;
    }
}
@media only screen and (max-width:630px){
    #ponnilogo {
        width: 25%;
        height: auto;
    }
    #logoimg{
        width: 145px;
    }
    /*#firimage{
        margin-top: 140px;
    }*/
    #searchtot {
        margin-top: 20px;
    }
    #iconsearch{
        margin-bottom: 20px;
        margin-left: 18px;
    }
    #carttot{
        width: 15%;
        margin: 0px 10px;
        right: 11%;
    }
    #wishtot{
        width: 15%;
        margin-left: 10px;
        margin-top: 0px;
    }
    #wishblck{
        margin-left: 5px;
    }
    #cartCount {
        right: 41.5%;
        bottom: 48px;
    }
    #wholecancelation, #wholetc{
        width: 95%;
    }
    .rte p{
        margin: 30px 10px;
    }
    #wholecontact{
        width: 95%;
        padding-left: 0px;
    }
    .table-res P{
        margin-left: 10px;
    }
    #profiletot{
        margin-right: 10px;
        margin-top: 0px;
    }
    #profilelist {
        margin-top: 10px;
    }
}
@media only screen and (max-width:500px){
    .itemone{
        width: 100%;
        display: block;
        margin: 10px auto;
    }
    .contentforpic{
        width: 100%;
        text-align: center;
    }
    .displayimg2{
        display: none;
    }
    .displayimg3{
        display: block;
    }
    .textareacon{
        margin-top: 0px;
    }
    #nullitem{
        font-size: 14px;
    }
    #svgimage{
        width: 25%;
    }
    #iconsearch{
        width: 23px;
        height: 23px;
    }
    #cartblck{
        width: 23px;
        height: 23px;
    }
    #menublck{
        width: 23px;
        height: 23px;
    }
    #wishblck{
        width: 23px;
        height: 23px;
    }
    #smallimg{
        width: 23px;
        height: 23px;
    }
    #menutotleft{
        width: 30%;
    }
    #profiletot1 {
        width: 30%;
    }
    #ponnilogo {
        width: 50%;
    }
    #headicons {
        width: 30%;
    }
    #searchtot {
        width: 30%;
        margin-top: 20px;
        margin-left: 0px;
    }
    #carttot {
        width: 15%;
        margin: 0px 5px;
    }
    #wishtot {
        width: 18%;
        margin-left: 5px;
        margin-top: 0px;
    }
    #profiletot{
        width: 6%;
        margin-right: 10px;
        margin-top: 0px;
    }
    #menutot {
        width: 6%;
    }
    #cartCount {
        right: 45.5%;
        bottom: 43px;
    }
}
@media only screen and (max-width:475px){
    #logoimg{
        width: 115px;
        height: 75px;
    }
    #cartCount {
        right: 43.5%;
        bottom: 45px;
    }
    #contenttolog{
        width: 80%;
        font-size: 10px;
    }
    #contenttolog a{
        width: 88%;
    }
    .menureg:last-of-type span:last-of-type{
        margin-left: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .menureg:last-of-type span:first-of-type{
        margin-left: 6px;
        margin-right: 5px;
    }
    #wholecontact {
        line-height: 0.3in;
    }
    .profilechange {
        width: 100%;
    }
}
@media only screen and (max-width:440px){
    .textcls{
        font-size: 20px;
    }
    .para1{
        font-size: 14px;
        line-height: 0.25in;
    }
    .imgsimple{
        width: 95%;
        margin-top: 0px;
    }
    .simpleid:nth-of-type(2) .textareacon{
        margin-right: 0px;
    }
}
@media only screen and (max-width:390px){
    #menublck{
        width: 25px;
        height: 25px;
    }
    #menutotleft{
        width: 30%;
        padding-left: 10px;
    }
    /*#profiletot1{
        display: block;
        width: 15%;
        margin-top: 2px;
    }*/
    #ponnilogo{
        width: 43%;
    }
    #iconsearch{
        margin-left: 0px;
    }
    #carttot{
        width: 20%;
        margin-left: 0px;
        margin-right: 2px;
    }
    #cartblck {
        margin-left: 0px;
    }
    #logoimg{
        width: 100px;
        height: 60px;
    }
    #cartCount {
        right: 58%;
        bottom: 43px;
    }
    #headicons{
        width: 27%;
        padding-right: 10px;
    }
    #searchtot {
        width: 20%;
        margin-left: 3px;
    }
    #wishtot {
        margin-left: 3px;
    }
    #wishblck {
        width: 20px;
        height: 20px;
    }
    #iconsearch {
        width: 20px;
        height: 20px;
    }
    #cartblck {
        width: 20px;
        height: 20px;
    }
    #wishblck {
        width: 20px;
        height: 20px;
        margin-left: 2px;
    }
    #profiletot {
        width: 25%;
        margin-right: 0px;
        margin-top: 0px;
        padding-right: 0px;
        margin-left: 2px;
    }
    #smallimg {
        width: 20px;
        height: 20px;
    }
}
@media only screen and (max-width:310px){
    #ponnilogo{
        width: 38%;
        padding-left: 0px;
        padding-top: 0px;
    }
    #menutotleft {
        width: 40%;
    }
    #logoimg{
        width: 80px;
        height: 50px;
    }
    #headicons{
        width: 34%;
        padding-right: 10px;
    }
    #searchtot{
        margin-left: 0px;
        width: 30%;
    }
    #iconsearch {
        margin-left: 0px;
    }
    #cartblck {
        margin-left: 0px;
    }
    #cartCount {
        right: 46%;
        bottom: 43px;
    }
    #carttot{
        margin-left: 2px;
        width: 33%;
        margin: 0px;
        margin-right: 2px;
    }
    #wishtot{
        width: 30%;
        margin: 0px;
    }
    #smallimg {
        margin-left: 2px;
    }
    /*#profiletot1{
        width: 12%;
        margin-left: 0px;
    }*/
}