.wholecategories {
    font-family: 'Poppins', sans-serif;
    background-color: #fff9e3;
    padding-top: 20px;
}

.cate-first {
    width: 260px;
    margin-left: auto;
    margin-right: auto;

}

.cate-first p {
    color: #6d9928;
    font-weight: 600;
    text-align: center;
    margin-top:5px;
    font-size: 25px;
}

.cate-heading {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;

}

.cate-heading {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    gap: 5px;
}

.cate-heading span {
    font-size: 18px;
    text-align: center;
    padding: 3px 25px 3px 25px;
    border: 1px solid #4d6b20;
    border-radius: 35px;
}

.active,
.btn:hover {
    cursor: pointer;
    color: #fff;
    background-color: #2b4522;
    border: 1px solid #2b4522;
}

.selectimages1 {
    display: none;
   
}

.selectimages2 {
    display: none;
 
}

.selectimages3 {
    display: none;
   
}

.selectimages4 {
    display: none;
  
}

.selectimages5 {
    display: none;
   
}

.selectimages6 {
    display: none;
   
}

.passivemove {
    display: block;
}

.sweets-images {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    display: grid;
    grid-template-columns: auto auto auto auto;

}

.sweets-images p {
    width: 250px;
	
    text-align: center;
    margin-top: 10px;
    font-size: 16px;
}
.productname{
	height:50px;
}
.sweets-images span {
    color: #ec0101;
}

.sweets-images img {
    width: 250px;
    border-radius: 20px;
}

.first-image {
    width: 250px;
    height: 250px;
    overflow: hidden;
    margin: 0px;
}

.first-image img {
    width: 100%;
    transition: 1.5s all ease-in-out;
}

.first-image img:hover {
    cursor: pointer;
    transform: scale(1.1);

}

.savouries-images {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;

    display: grid;
    grid-template-columns: auto auto auto auto;

}

.savouries-images p {
    width: 250px;
    text-align: center;
    margin-top: 10px;
    font-size: 16px;
}

.savouries-images span {
    color: #ec0101;
}

.savouries-images img {
    width: 250px;
    border-radius: 20px;

}

.pickels-images {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;

    display: grid;
    grid-template-columns: auto auto auto auto;

}

.pickels-images p {
    width: 250px;
    text-align: center;
    margin-top: 10px;
    font-size: 16px;
}

.pickels-images span {
    color: #ec0101;
}

.pickels-images img {
    width: 250px;
    border-radius: 20px;

}

.honey-images {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;

    display: grid;
    grid-template-columns: auto auto auto auto;

}

.honey-images p {
    width: 250px;
    text-align: center;
    margin-top: 10px;
    font-size: 16px;
}

.honey-images span {
    color: #ec0101;
}

.honey-images img {
    width: 250px;
    border-radius: 20px;

}

.masalas-images {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;

    display: grid;
    grid-template-columns: auto auto auto auto;

}

.masalas-images p {
    width: 250px;
    text-align: center;
    margin-top: 10px;
    font-size: 16px;
}

.masalas-images span {
    color: #ec0101;
}

.masalas-images img {
    width: 250px;
    border-radius: 20px;

}

.podi-images {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;

    display: grid;
    grid-template-columns: auto auto auto auto;

}

.podi-images p {
    width: 250px;
    text-align: center;
    margin-top: 10px;
    font-size: 16px;
}

.podi-images span {
    color: #ec0101;
}

.podi-images img {
    width: 250px;
    border-radius: 20px;

}
.cate-lastcontent{
	background-color:#fffff6;
	padding:20px;
	transform:translate(0,-10px);
	color:#d67c04;
}
.cate-lastcontent p{
	width:80%;
	font-size:20px;
	font-weight:600;
	
	margin-left:auto;
	margin-right:auto;
	
}
@media only screen and (max-width:1200px) {
    .sweets-images {
        width: 1100px;
    }

    .sweets-images img {
        width: 230px;

    }

    .savouries-images {
        width: 1100px;
    }

    .savouries-images img {
        width: 230px;

    }

    .pickels-images {
        width: 1100px;

    }

    .pickels-images img {
        width: 230px;

    }

    .honey-images {
        width: 1100px;

    }

    .honey-images img {
        width: 230px;

    }

    .masalas-images {
        width: 1100px;

    }

    .masalas-images img {
        width: 230px;

    }

    .podi-images {
        width: 1100px;

    }

    .podi-images img {
        width: 230px;

    }
}

@media only screen and (max-width:1100px) {
    .sweets-images {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;
        display: grid;
        grid-template-columns: auto auto;
    }

    .sweets-images div {
        margin-left: auto;
        margin-right: auto;
    }

    .first-image {
        width: 300px !important;
        height: 300px;

        overflow: hidden;
        margin: 0px;
    }

    .sweets-images img {
        width: 300px;
        margin-left: auto;
        margin-right: auto;
    }

    .sweets-images p {
        width: 300px;
        text-align: center;
        margin-top: 10px;
        font-size: 16px;
    }

    .savouries-images {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;
        display: grid;
        grid-template-columns: auto auto;
    }

    .savouries-images div {
        margin-left: auto;
        margin-right: auto;
    }

    .savouries-images img {
        width: 300px;
        margin-left: auto;
        margin-right: auto;
    }

    .savouries-images p {
        width: 300px;
        text-align: center;
        margin-top: 10px;
        font-size: 16px;
    }

    .pickels-images {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;
        display: grid;
        grid-template-columns: auto auto;
    }

    .pickels-images div {
        margin-left: auto;
        margin-right: auto;
    }

    .pickels-images img {
        width: 300px;
        margin-left: auto;
        margin-right: auto;
    }

    .pickels-images p {
        width: 300px;
        text-align: center;
        margin-top: 10px;
        font-size: 16px;
    }

    .honey-images {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;
        display: grid;
        grid-template-columns: auto auto;
    }

    .honey-images div {
        margin-left: auto;
        margin-right: auto;
    }

    .honey-images img {
        width: 300px;
        margin-left: auto;
        margin-right: auto;
    }

    .honey-images p {
        width: 300px;
        text-align: center;
        margin-top: 10px;
        font-size: 16px;
    }

    .masalas-images {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;
        display: grid;
        grid-template-columns: auto auto;
    }

    .masalas-images div {
        margin-left: auto;
        margin-right: auto;
    }

    .masalas-images img {
        width: 300px;
        margin-left: auto;
        margin-right: auto;
    }

    .masalas-images p {
        width: 300px;
        text-align: center;
        margin-top: 10px;
        font-size: 16px;
    }

    .podi-images {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;
        display: grid;
        grid-template-columns: auto auto;
    }

    .podi-images div {
        margin-left: auto;
        margin-right: auto;
    }

    .podi-images img {
        width: 300px;
        margin-left: auto;
        margin-right: auto;
    }

    .podi-images p {
        width: 300px;
        text-align: center;
        margin-top: 10px;
        font-size: 16px;
    }
}

@media only screen and (max-width:910px) {
    .cate-heading {
        width: 700px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;
        display: grid;
        grid-template-columns: auto auto auto auto auto auto;
        gap: 15px;
    }

    .cate-heading span {
        font-size: 16px;
        text-align: center;
        padding: 3px 20px 3px 20px;
        border: 1px solid #4d6b20;
        border-radius: 35px;
    }
	

}

@media only screen and (max-width:850px) {
    .sweets-images {
        width: 100%;
        margin: 0px;
        margin-top: 40px;
    }

    .savouries-images {
        width: 100%;
        margin: 0px;
        margin-top: 40px;
    }

    .pickels-images {
        width: 100%;
        margin: 0px;
        margin-top: 40px;
    }

    .honey-images {
        width: 100%;
        margin: 0px;
        margin-top: 40px;
    }

    .masalas-images {
        width: 100%;
        margin: 0px;
        margin-top: 40px;
    }

    .podi-images {
        width: 100%;
        margin: 0px;
        margin-top: 40px;
    }

}

@media only screen and (max-width:730px) {
    .cate-heading {
        width: 500px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 25px;
    }

    .cate-heading span {
        margin-left: auto;
        margin-right: auto;

    }
}

@media only screen and (max-width:620px) {
    .first-image {
        width: 230px !important;
        height: 250px;
        overflow: hidden;
        margin: 0px;
    }

    .sweets-images {
        width: 100%;

        margin-top: 40px;
        display: grid;
        row-gap: 50px;
        grid-template-columns: auto auto;

    }

    .sweets-images div {
        width: 250px;
        margin-left: auto;
        margin-right: auto;

    }

    .sweets-images img {
        width: 230px;
        margin-left: auto;
        margin-right: auto;
    }

    .sweets-images p {
        width: 230px;
        text-align: center;
        margin-top: 10px;
    }

    .savouries-images {
        width: 100%;
        row-gap: 50px;
        margin-top: 40px;
        display: grid;
        grid-template-columns: auto auto;
    }

    .savouries-images div {
        width: 250px;
        margin-left: auto;
        margin-right: auto;

    }

    .savouries-images img {
        width: 230px;
        margin-left: auto;
        margin-right: auto;
    }

    .savouries-images p {
        width: 230px;
        text-align: center;
        margin-top: 10px;
    }

    .pickels-images {
        width: 100%;
        row-gap: 50px;
        margin-top: 40px;
        display: grid;
        grid-template-columns: auto auto;
    }

    .pickels-images div {
        width: 250px;
        margin-left: auto;
        margin-right: auto;

    }

    .pickels-images img {
        width: 230px;
        margin-left: auto;
        margin-right: auto;
    }

    .pickels-images p {
        width: 230px;
        text-align: center;
        margin-top: 10px;
    }


    .honey-images {
        width: 100%;
        row-gap: 50px;
        margin-top: 40px;
        display: grid;
        grid-template-columns: auto auto;
    }

    .honey-images div {
        width: 250px;
        margin-left: auto;
        margin-right: auto;

    }

    .honey-images img {
        width: 230px;
        margin-left: auto;
        margin-right: auto;
    }

    .honey-images p {
        width: 230px;
        text-align: center;
        margin-top: 10px;
    }

    .masalas-images {
        width: 100%;
        row-gap: 50px;
        margin-top: 40px;
        display: grid;
        grid-template-columns: auto auto;
    }

    .masalas-images div {
        width: 250px;
        margin-left: auto;
        margin-right: auto;

    }

    .masalas-images img {
        width: 230px;
        margin-left: auto;
        margin-right: auto;
    }

    .masalas-images p {
        width: 230px;
        text-align: center;
        margin-top: 10px;
    }


    .podi-images {
        width: 100%;
        row-gap: 50px;
        margin-top: 40px;
        display: grid;
        grid-template-columns: auto auto;
    }

    .podi-images div {
        width: 250px;
        margin-left: auto;
        margin-right: auto;

    }

    .podi-images img {
        width: 230px;
        margin-left: auto;
        margin-right: auto;
    }

    .podi-images p {
        width: 230px;
        text-align: center;
        margin-top: 10px;
    }
}

@media only screen and (max-width:520px) {
    .cate-heading {
        width: 100%;
        margin:0px;
         margin-top: 40px;
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 20px;
    }

    .first-image {
        width: 200px !important;
        height: 200px;
        overflow: hidden;
        margin: 0px;
    }

    .sweets-images {

        row-gap: 10px;

    }

    .sweets-images div {
        width: 200px;
        margin-left: auto;
        margin-right: auto;
    }

    .sweets-images img {
        width: 200px;
        margin-left: auto;
        margin-right: auto;
    }

    .sweets-images p {
        width: 200px;
        text-align: center;
        margin-top: 10px;
    }

    .savouries-images {

        row-gap: 10px;

    }

    .savouries-images div {
        width: 200px;
        margin-left: auto;
        margin-right: auto;
    }

    .savouries-images img {
        width: 200px;
        margin-left: auto;
        margin-right: auto;
    }

    .savouries-images p {
        width: 200px;
        text-align: center;
        margin-top: 10px;
    }

    .pickels-images {

        row-gap: 10px;

    }

    .pickels-images div {
        width: 200px;
        margin-left: auto;
        margin-right: auto;
    }

    .pickels-images img {
        width: 200px;
        margin-left: auto;
        margin-right: auto;
    }

    .pickels-images p {
        width: 200px;
        text-align: center;
        margin-top: 10px;
    }

    .honey-images {

        row-gap: 10px;

    }

    .honey-images div {
        width: 200px;
        margin-left: auto;
        margin-right: auto;
    }

    .honey-images img {
        width: 200px;
        margin-left: auto;
        margin-right: auto;
    }

    .honey-images p {
        width: 200px;
        text-align: center;
        margin-top: 10px;
    }

    .masalas-images {

        row-gap: 10px;

    }

    .masalas-images div {
        width: 200px;
        margin-left: auto;
        margin-right: auto;
    }

    .masalas-images img {
        width: 200px;
        margin-left: auto;
        margin-right: auto;
    }

    .masalas-images p {
        width: 200px;
        text-align: center;
        margin-top: 10px;
    }

    .podi-images {

        row-gap: 10px;

    }

    .podi-images div {
        width: 200px;
        margin-left: auto;
        margin-right: auto;
    }

    .podi-images img {
        width: 200px;
        margin-left: auto;
        margin-right: auto;
    }

    .podi-images p {
        width: 200px;
        text-align: center;
        margin-top: 10px;
    }
}

@media only screen and (max-width:440px) {
    #cate-myimages{
		
		padding-left:10px;
	}
	.cate-first p {
    color: #6d9928;
    font-weight: 600;
    text-align: center;
    margin-top: 5px;
    font-size: 22px;
}
	.cate-heading {
        width: 100%;
        margin: 0px;
		margin-top: 40px;
		padding-left:5px;
	
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 20px;
    }
.cate-heading span {
        font-size: 16px;
        text-align: center;
        padding: 3px 15px 3px 15px;
        border: 1px solid #4d6b20;
        border-radius: 35px;
    }
    .first-image {
        width: 180px !important;
        height: 200px;
        overflow: hidden;
        margin: 0px;
    }
    .sweets-images {
         row-gap: 10px;

    }
    .sweets-images div {
        width: 180px;
        margin-left: auto;
        margin-right: auto;
    }
    .sweets-images img {
        width: 180px;
        margin-left: auto;
        margin-right: auto;
    }
    .sweets-images p {
        width: 180px;
        text-align: center;
        margin-top: 10px;
    }
    .savouries-images {
         row-gap: 10px;
    }

    .savouries-images div {
        width: 180px;
        margin-left: auto;
        margin-right: auto;
    }

    .savouries-images img {
        width: 180px;
        margin-left: auto;
        margin-right: auto;
    }

    .savouries-images p {
        width: 180px;
        text-align: center;
        margin-top: 10px;
    }

    .pickels-images {
       row-gap: 10px;

    }

    .pickels-images div {
        width: 180px;
        margin-left: auto;
        margin-right: auto;
    }

    .pickels-images img {
        width: 180px;
        margin-left: auto;
        margin-right: auto;
    }

    .pickels-images p {
        width: 180px;
        text-align: center;
        margin-top: 10px;
    }

    .honey-images {

        row-gap: 10px;

    }

    .honey-images div {
        width: 180px;
        margin-left: auto;
        margin-right: auto;
    }

    .honey-images img {
        width: 180px;
        margin-left: auto;
        margin-right: auto;
    }

    .honey-images p {
        width: 180px;
        text-align: center;
        margin-top: 10px;
    }

    .masalas-images {

        row-gap: 10px;

    }

    .masalas-images div {
        width: 180px;
        margin-left: auto;
        margin-right: auto;
    }

    .masalas-images img {
        width: 180px;
        margin-left: auto;
        margin-right: auto;
    }

    .masalas-images p {
        width: 180px;
        text-align: center;
        margin-top: 10px;
    }

    .podi-images {

        row-gap: 10px;

    }

    .podi-images div {
        width: 180px;
        margin-left: auto;
        margin-right: auto;
    }

    .podi-images img {
        width: 180px;
        margin-left: auto;
        margin-right: auto;
    }

    .podi-images p {
        width: 180px;
        text-align: center;
        margin-top: 10px;
    }
}

@media only screen and (max-width:390px) {
    .cate-heading {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        display: grid;
        grid-template-columns: auto auto;
        gap: 20px;
    }
 .sweets-images div {
        width: 150px;
        margin-left: auto;
        margin-right: auto;
    }

    .sweets-images {
        margin-top: 20px;
		padding-left:10px;
    }

    .sweets-images img {
        width: 150px;
        margin-left: auto;
        margin-right: auto;
    }

    .first-image {
        width: 150px !important;
        height: 150px;
        overflow: hidden;
        margin: 0px;
    }

    .sweets-images p {
        width: 150px;
        text-align: center;
        margin-top: 10px;
    }
	 .savouries-images div {
        width: 150px;
        margin-left: auto;
        margin-right: auto;
    }
    .savouries-images{
        margin-top: 20px;
		padding-left:10px;
    }

    .savouries-images img {
        width: 150px;
        margin-left: auto;
        margin-right: auto;
    }

    .savouries-images p {
        width: 150px;
        text-align: center;
        margin-top: 10px;
    }
	.pickels-images div {
        width: 150px;
        margin-left: auto;
        margin-right: auto;
    }
	.pickels-images{
        margin-top: 20px;
		padding-left:10px;
    }

    .pickels-images img {
        width: 150px;
        margin-left: auto;
        margin-right: auto;
    }

    .pickels-images p {
        width: 150px;
        text-align: center;
        margin-top: 10px;
    }
	.honey-images div {
        width: 150px;
        margin-left: auto;
        margin-right: auto;
    }
	.honey-images{
        margin-top: 20px;
		padding-left:10px;
    }

    .honey-images img {
        width: 150px;
        margin-left: auto;
        margin-right: auto;
    }

    .honey-images p {
        width: 150px;
        text-align: center;
        margin-top: 10px;
    }
	.masalas-images div {
        width: 150px;
        margin-left: auto;
        margin-right: auto;
    }
	.masalas-images{
        margin-top: 20px;
		padding-left:10px;
    }

    .masalas-images img {
        width: 150px;
        margin-left: auto;
        margin-right: auto;
    }

    .masalas-images p {
        width: 150px;
        text-align: center;
        margin-top: 10px;
    }
	.podi-images div {
        width: 150px;
        margin-left: auto;
        margin-right: auto;
    }
	.podi-images{
        margin-top: 20px;
		padding-left:10px;
    }

    .podi-images img {
        width: 150px;
        margin-left: auto;
        margin-right: auto;
    }

    .podi-images p {
        width: 150px;
        text-align: center;
        margin-top: 10px;
    }
    #cate-myimages p {
        font-size: 14px;
    }
}
@media only screen and (max-width:370px){
	#cate-myimages p {
            font-size: 13px;
    }
	.cate-heading {
        width:100%;
        margin:0px;
       padding-left:10px;
        margin-top: 20px;
        display: grid;
        grid-template-columns: auto auto;
        gap:5px;
    }
    .cate-heading span {
        font-size: 15px;
        text-align: center;
        padding: 3px 15px 3px 15px;
        border: 1px solid #4d6b20;
        border-radius: 35px;
    }
	.first-image {
        width: 130px !important;
        height: 130px;
        overflow: hidden;
        margin: 0px;
    }
	.sweets-images img {
        width: 130px;
        margin-left: auto;
        margin-right: auto;
    }
	.sweets-images div {
        width: 140px;
        margin-left: auto;
        margin-right: auto;
    }
	.savouries-images div {
        width: 140px;
        margin-left: auto;
        margin-right: auto;
    }
	.pickels-images div {
        width: 140px;
        margin-left: auto;
        margin-right: auto;
    }
	.honey-images div {
        width: 140px;
        margin-left: auto;
        margin-right: auto;
    }
	.podi-images div {
        width: 140px;
        margin-left: auto;
        margin-right: auto;
    }
	.masalas-images div {
        width: 140px;
        margin-left: auto;
        margin-right: auto;
    }
	.sweets-images p {
        width: 130px;
        text-align: center;
        margin-top: 10px;
    }
	.savouries-images img {
        width: 130px;
        margin-left: auto;
        margin-right: auto;
    }
	
	.savouries-images p {
        width: 130px;
        text-align: center;
        margin-top: 10px;
    }
	.honey-images img {
        width: 130px;
        margin-left: auto;
        margin-right: auto;
    }
	
	.honey-images p {
        width: 130px;
        text-align: center;
        margin-top: 10px;
    }
	.podi-images img {
        width: 130px;
        margin-left: auto;
        margin-right: auto;
    }
	
	.podi-images p {
        width: 130px;
        text-align: center;
        margin-top: 10px;
    }
	.masalas-images img {
        width: 130px;
        margin-left: auto;
        margin-right: auto;
    }
	
	.masalas-images p {
        width: 130px;
        text-align: center;
        margin-top: 10px;
    }
	.pickels-images img {
        width: 130px;
        margin-left: auto;
        margin-right: auto;
    }
	
	.pickels-images p {
        width: 130px;
        text-align: center;
        margin-top: 10px;
    }
}

@media only screen and (max-width:315px){
	
	.first-image {
        width: 120px !important;
        height: 120px;
        overflow: hidden;
        margin: 0px;
    }
	.sweets-images div {
        width: 130px;
        margin-left: auto;
        margin-right: auto;
    }
	.savouries-images div {
        width: 130px;
        margin-left: auto;
        margin-right: auto;
    }
	.honey-images div {
        width: 130px;
        margin-left: auto;
        margin-right: auto;
    }
	.pickels-images div {
        width: 130px;
        margin-left: auto;
        margin-right: auto;
    }
	.podi-images div {
        width: 130px;
        margin-left: auto;
        margin-right: auto;
    }
	.masalas-images div {
        width: 130px;
        margin-left: auto;
        margin-right: auto;
    }
	.sweets-images img {
        width: 120px;
        margin-left: auto;
        margin-right: auto;
    }
	
	.sweets-images p {
        width: 120px;
        text-align: center;
        margin-top: 10px;
    }
	.savouries-images img {
        width: 120px;
        margin-left: auto;
        margin-right: auto;
    }
	
	.savouries-images p {
        width: 120px;
        text-align: center;
        margin-top: 10px;
    }
	.honey-images img {
        width: 120px;
        margin-left: auto;
        margin-right: auto;
    }
	
	.honey-images p {
        width: 120px;
        text-align: center;
        margin-top: 10px;
    }
	.podi-images img {
        width: 120px;
        margin-left: auto;
        margin-right: auto;
    }
	
	.podi-images p {
        width: 120px;
        text-align: center;
        margin-top: 10px;
    }
	.masalas-images img {
        width: 120px;
        margin-left: auto;
        margin-right: auto;
    }
	
	.masalas-images p {
        width: 120px;
        text-align: center;
        margin-top: 10px;
    }
	.pickels-images img {
        width: 120px;
        margin-left: auto;
        margin-right: auto;
    }
	
	.pickels-images p {
        width: 120px;
        text-align: center;
        margin-top: 10px;
    }
}